
@{
    ViewData["Title"] = "Principal";
}


<body>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>CRUD TIPO USUARIOS></h3>
                </div>
                <div>
                    <img src="https://ingenieriasuaz.com/wp-content/uploads/2017/10/LOGO_INGENIERIA_ELECTRICA_OF.png" class="mx-auto w-50" />
                </div>
                <div>
                    <a asp-controller="TipoUsuarios" asp-action="Index">Index</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Login Proyecto Servicio Social</h3>
                </div>
                <img src="https://ingenieriasuaz.com/wp-content/uploads/2017/10/LOGO_INGENIERIA_ELECTRICA_OF.png" class="mx-auto w-50" />
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>CRUD ASESOR INTERNO</h3>
                </div>
                <div>
                    <img src="https://ingenieriasuaz.com/wp-content/uploads/2017/10/LOGO_INGENIERIA_ELECTRICA_OF.png" class="mx-auto w-50" />
                </div>
                <div>
                    <a asp-controller="Asesorinternoes" asp-action="Index">Index</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>CRUD ASESOR EXTERNO</h3>
                </div>
                <div>
                    <img src="https://ingenieriasuaz.com/wp-content/uploads/2017/10/LOGO_INGENIERIA_ELECTRICA_OF.png" class="mx-auto w-50" />
                </div>
                <div>
                    <a asp-controller="AsesorExternoes" asp-action="Index">Index</a>
                </div>
            </div>
        </div>
</body>
